* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: gray;
}

header {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: grid;
  grid-template-columns: 1fr .8fr .3fr;
  padding: 15px 20px 15px 20px;
  background: linear-gradient(darkviolet, purple);
  align-items: center;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
  justify-self: right;
  margin: 0 !important;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.side-dropdown a {
  text-decoration: none;

}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bar-container {
  display: none;
  margin-left: 10px;

}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.1s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.side-dropdown {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background: rgb(0, 0, 0, 0.7);
}

.side-dropdown button,
.side-dropdown a {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid;
  font-weight: 500;
  background: green;
  color: white;
}

.side-dropdown button:hover {
  cursor: pointer;
}

.side-dropdown>.dropdown-content a:hover {
  cursor: pointer;
  color: black;
}

#myDropdown {
  margin-top: 10px;
}

.show {
  text-align: center;
  margin-top: 0px;
}

.container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  place-content: center center;
}

.parcel-delivery {
  display: flex;
  flex-direction: column;
  place-content: center center;
  place-items: center center;
}

.parcel-delivery>p {
  margin-top: 10px;
}

.back:hover {
  transform: scale(1.1);
  background: tan;
  color: crimson;
}

.form-title {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
}

.form-title>p {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  border: black solid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-bottom: 10px;
}

.form-field {
  display: flex !important;
  flex-direction: column;
  padding: 10px 30px;
}

.form-field input {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#phone {
  width: 100%;
}

#submit {
  align-content: center;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  text-align: center;
}

.my-order {
  display: grid;
}

caption {
  background-color: crimson!important;
  display: flex;
  flex-direction: column;
  place-content: center center;
  place-items: center center;
  place-self: center center;
}

table {
  display: block;
  border-collapse: collapse;
  border-color: grey;
  text-align: center;
}

th {
  background-color: rgb(75, 54, 2);
  color: white;
  text-align: center;
  width: 10em;
  padding-right: 10px;
  padding-left: 10px;
}

td {
  padding: 5px;
  background-color: gainsboro;
}

.records {
  margin-top: 15px;
  align-self: center;
  background-color: rgb(150, 116, 32);
  padding: 8px;
  color: wheat;

}

.records div {
  padding: 2px;
  margin: 5px;
  background-color: rgb(96, 173, 103);
  color: black;
}

button {
  color: black;
  border-radius: 5px;
  background-color: rgb(184, 157, 157);
  cursor: pointer;
  border: 3px solid inherit;
  padding: 5px;
}

button:hover  {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(150, 116, 32);
  color: whitesmoke
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  background-color: white;
  text-align: center;
  padding: 35px;
  position: relative;
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #6b6767;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  color: #000000;
}

.parcelFormat {
  display: none;
}

.disable {
  display: none;
}

@media(min-width:993px) {
  nav {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navbar {
    grid-column: 3;
  }
}

@media(max-width:992px) {
  nav {
    grid-template-columns: 1fr .2fr 1fr;
  }

  .navbar {
    grid-column: 3;
  }
}

@media screen and (max-width:780px) {
  nav {
    grid-template-columns: .1fr repeat(4, 1fr);
    padding: 5px;
    align-items: center;
    text-align: center;
  }

  .navbar-brand {
    grid-column: 1;
  }

  .navbar {
    display: none;
  }

  .bar-container {
    display: inline-block;
    cursor: pointer;
    justify-self: right;
    grid-column: 5;
  }

  .show {
    display: block;
    margin-top: 60px;
    cursor: pointer;
    justify-self: right;
    margin-right: 20px;
  }

  .container {
    margin-top: 20px;
  }

  .parcel-delivery {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
  }

  form {
    width: 90%;
    align-self: center;
    justify-self: center;
    align-items: center !important;
  }

  .form-field input {
    padding: 5px;
    display: flex;
    width: 110%;
    margin-left: -10px;
    flex-direction: column;
  }

  #phone {
    width: 100%;
  }

  table {
    display: block;
    overflow-y: hidden;
    overflow-x: scroll !important;
  }

  table tbody tr td {
    overflow-wrap: break-word;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media(min-width:1200px) {
  nav {
    grid-template-columns: .7fr .9fr auto;
  }
}